<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="../assets/img/crm-logo2.png" alt="">
    </div>

    <ul>
      <li routerLink="/" ><mat-icon>dashboard</mat-icon> Dashboard</li>
      <li routerLink="/user" ><mat-icon>perm_identity</mat-icon> User</li>
      <li></li>
    </ul>
    

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class (click)="drawer.toggle()">menu</mat-icon>

        <span class="side-name">Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
   
    

    
  </div>

</mat-drawer-container>



