mat-drawer-container{
    height: 100vh;

    .sidenav{
        width: 300px;
        

        .logo-container{
            display: flex;
            align-items: center;
            min-height: 56px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0 16px;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: flex;
                align-items: center;
                height: 48px;
                padding: 0 16px;

                cursor: pointer;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

mat-toolbar, mat-toolbar-row {
    height: 57px;
    min-height: 57px;
}

mat-icon{
    margin-right: 16px;
    cursor: pointer;
}

.router-container{
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;

    overflow: auto;
}

@media screen and (max-width: 1000px){
    .router-container{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 700px){
    .router-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 500px){
    .router-container{
        padding-left: 2px;
        padding-right: 2px;
    }

    .sidenav{
        width: 200px !important;
    }
}

@media screen and (max-width: 400px){
    .side-name{
        display: none;
    }
}