<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>

        <tr>
            <td>asd</td>
            <td>adsh</td>
            <td>auil</td>
        </tr>

        <tr>
            <td>asd</td>
            <td>adsh</td>
            <td>auil</td>
        </tr>
    </table>


</mat-card>


<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>add</mat-icon>
</button>

